<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shorten</title>
</head>
<body>

{% if new_link %}
    {% if new_key %}
        <h2><a href="{% url 'links:redirect_link' new_key %}">{{ new_key }}</a></h2>
    {% else %}
        <h2 style="color:red;"> Invalid URL: "{{ new_link }}" </h2>
        <h3> Allowed schemes: https, http, ftp, ftps </h3>
    {% endif %}
{% else %}
    <h2>Reduce the link</h2>
{% endif %}
    <form action="" method="POST">{% csrf_token %}
        <input type="text" name="new_link">
        <input type="submit" value="Shorten URL">
    </form>
    <p><a href="{% url 'links:main' %}">Return to menu</a></p>
</body>
</html>